name: 自动打包EXE

on:
  workflow_dispatch: # 允许你手动点击按钮开始打包

jobs:
  build_job:
    runs-on: windows-latest # 使用微软的Windows服务器打包

    steps:
    - name: 1. 下载仓库代码
      uses: actions/checkout@v4

    - name: 2. 安装Python环境
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: 3. 安装代码需要的工具
      run: |
        python -m pip install --upgrade pip
        pip install Pillow numpy pyinstaller imageio-ffmpeg

    - name: 4. 开始执行打包
      run: |
        pyinstaller video_to_gif.spec

    - name: 5. 把生成的EXE存起来
      uses: actions/upload-artifact@v4
      with:
        name: Video2GIF_Windows_Download
        path: dist/Video2GIF_Tool.exe
